<%- include( "includes/head") %>
  </head>
  <body>
    <%- include( "includes/header") %>
    <%- include( "includes/sideDrawer") %>
    <main>
      <h1 id="heading">Not Authorized!</h1>
      <p>Maybe try and sign up or login to access the page!</p>
    </main>
<%- include( "includes/footer") %>
