<%- include( "includes/head") %>
    <link rel="stylesheet" href="/styles/about.css" />

  </head>
  <body>
     <%- include( "includes/header") %>
     <%- include( "includes/sideDrawer") %>
    <main>
      <h1 class="heading">Where there's food, there's happiness!</h1>

      <p>
        EatMore is about food enthusiacist who value food and find fun and love
        in it
      </p>
      <p>
        Browse restaurants without signing up. Sign up and login to share your
        favorite restaurants
      </p>
    </main>
<%- include( "includes/footer") %>
